<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">
<uses-permission android:name="android.permission.GET_TASKS"/>
<uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.first.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.first.LockActivity"></activity>
        <activity android:name="ManageActivity"></activity>
        <service android:name="com.example.first.service.WatchService"></service>
        <activity android:name="BrowseActivity"></activity>
        <activity android:name="NetSearchActivity"></activity>
        <activity android:name=".cleanUp.CleanUpActivity"></activity>
        <activity android:name=".player.MyPlayer"></activity>
        <activity android:name="io.vov.vitamio.activity.InitActivity"></activity>
        <activity android:name=".player.PlayAddressActivity"></activity>
        <receiver android:name=".broadcast.OutgoingCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <activity android:name=".broadcast.dialogActivity.OutgoingCallDialog"></activity>

    </application>

</manifest>
